.pokemon{
    width: calc(190px - 20px);
    padding: 20px;
    margin: 5px 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.elements{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.elements--title{
    margin: 0 2px;
    padding: 3px;
    color: #ffffff;
    background-color: #5e5e5e;
    font-size: 10px;
    border-radius: 8px;
    box-shadow: 0 0 .8em rgb(0, 0, 0);
}

.pokemon_title{
    color: #ffffff;
}